.root {
	-fx-font-family: 'Courier New';
	-fx-font-size: 11;
	-fx-background-color: white;
}

.button:hover {
	-fx-effect: dropshadow(three-pass-box, #e2861d, 5, 0.3, 0, 0);
}

.year {
	-fx-font: normal bold 22 'Arial';
	-fx-text-fill: white;
	-fx-effect: dropshadow(two-pass-box, black, 5, 0.4, 2, 2);
}

.month {
	-fx-font-size: 13;
	-fx-font-weight: bold;
}

.weekday {
	-fx-font-weight: bold;
}

.day {
	-fx-font-style: italic;
}

.today {
	-fx-background-color: linear-gradient(from 0% 0% to 100% 100%, white, orange); /* gradiente lineal, hacia abajo-derecha, de blanco a naranja */
	-fx-border-radius: 10;
	-fx-border-style: dashed;
	-fx-background-radius: 10;
	-fx-border-color: black;
	-fx-font-style: normal;
	-fx-font-weight: bold;
	-fx-text-fill: black;
}

.sunday {
	-fx-text-fill: red;
}








